body {
  background-color: #00325b;
  color: white;
  font-family: "Open Sans",sans-serif;
}

.calcTitle {
  text-align: center;
  color: #f2f2f2;
}

.submitButton {
  background-color: #bf280d;
  color: white;
  display:inline-block;
  border: none;
  font-weight: 800;
  line-height: 1.15em;
  left: 62%;
  height: 32px;
  padding: 6px 12px;
  margin: 10px 10px 20px 0px;
  position: relative;
}

.resetButton {
  background-color: #218383;
  color: white;
  display: inline-block;
  border: none;
  font-weight: 800;
  line-height: 1.15em;
  height: 32px;
  padding: 6px 12px;
  margin: 10px 10px 20px 0px;
  position: relative;
  left: 62%;
}

.calcResults {
  text-align: center;
  background-color: #218383;
  width: 50%;

  font-size: 1.1em;
  position: relative;
  left: 25%;
  font-weight: 100;
}

hr {
  width: 50%;
}