.inputDescription {
    width: 50%;
    position: relative;
    left: 25%;
    padding: 0px 10px;
  }
  
.inputDescription {
    font-size: 0.75em;
    word-wrap: break-word;
    width: 25%;
    padding-top: 0.2%;
  }