.inputBox {
    position: absolute;
    display: inline;
    /* right: 25.2%; */
    right: 25.8%;
  }

  .selectBox {
    position: absolute;
    display: inline;
    right: 10%;
    width: 200px;
    height: 30px;    
  }